<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    
{% load static %}
    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all"> 
    <link href="{% static ' '%}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{ % static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static ' '%}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">
 {% load static %}
</head>
{% block content %}
<body class="animsition" >
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block" >
            <div class="section__content section__content--p35">
                <div class="header3-wrap" >
                    <div class="header__logo">
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            
                    
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-copy"></i>
                                    <span class="bot-line"></span>Go To</a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a href="login.html">Login</a>
                                    </li>
                                    <li>
                                        <a href="register.html">Register</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="header__tool">
                        <div class="header-button-item has-noti js-item-menu">
                            <i class="zmdi zmdi-notifications"></i>
                            <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                                <div class="notifi__item">
                                
                                </div>
                                
                            </div>
                        </div>
                        <div class="header-button-item js-item-menu">
                            <i class="zmdi zmdi-settings"></i>
                            <div class="setting-dropdown js-dropdown">
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-account"></i>Account</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-settings"></i>Setting</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-money-box"></i>Billing</a>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-globe"></i>Language</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-pin"></i>Location</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-email"></i>Email</a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-notifications"></i>Notifications</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">Administrator</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">Administrator</a>
                                            </h5>
                                            <span class="email">admin@azure.com</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                    <div class="account-dropdown__footer">
                                        <a href="#">
                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <!-- BREADCRUMB-->
            <section class="au-breadcrumb2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">
                                <div class="au-breadcrumb-left">
                                    <span class="au-breadcrumb-span">You are here:</span>
                                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                                        <li class="list-inline-item seprate">
                                            <span>/</span>
                                        </li>
                                        <li class="list-inline-item">Dashboard</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <!-- WELCOME-->
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title-4">Metro Events
                                
                            </h1>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END WELCOME-->

            <!-- STATISTIC-->
            <section class="statistic statistic2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--green">
                                <h2 class="number">{{users|length}}</h2>
                                <span class="desc">users signed in</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--orange">
                                <h2 class="number">{{events|length}}</h2>
                                <span class="desc">upcomming events</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--blue">
                                <h2 class="number">(insert number)</h2>
                                <span class="desc">interactions this week</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-calendar-note"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--red">
                                <h2 class="number">(insert number)</h2>
                                <span class="desc">reviews</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-money"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC-->

            <!-- STATISTIC CHART-->
            <section class="statistic-chart" style="height: 500px">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">administrator</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <!-- TOP CAMPAIGN-->
                            <div class="top-campaign" style="overflow: auto">
                                <h3 class="title-3 m-b-30">Promotion requests</h3>
                                <div class="table-responsive">
                                    <table class="table table-top-campaign">
                                        <tbody>
                                             {% for request in requests %}
                                             {% if request.response == 2%}
                                                {% for user in users%}
                                                {% if request.user.id == user.id and request.response == 2%}
                                               
                                    <form action="" id="updateForm" method="post"> 
                                         {% csrf_token %} 
                                            <tr>
                                                <td>{{user.firstname}} {{user.lastname}}</td>
                                                {% if request.req_role == 1 %}
                                                <td>organizer</td>
                                                {% else %}
                                                <td>administrator</td>
                                                {% endif %}
                                                <td> <input type="text" name="requestid" value = {{request.id}} hidden>
                                                    <input type="text" name="userid" value = {{user.id}} hidden>
                                                  <button type="submit"  id="view" name="btnAcceptRole" class="btn btn-success" style="margin-left:0px;background-color:#FF5733; font-size: 8px; margin-top: -20px;">approve</button> 
                                                  <button type="submit"  id="view" name="btnDeclineRole" class="btn btn-success" style="margin-left:0px;background-color:#FF5733;font-size: 10px; margin-top: -10px; margin-left:;font-size: 9px">decline</button> 
                                              </td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                           {% endfor %}
                                            </form>
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END TOP CAMPAIGN-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC CHART-->

            <!-- DATA TABLE-->
            <section class="p-t-20" ">
                <div class="container" style="width: 50%; margin-top: -37%; margin-left:40%; height: 500px; width: 500px>
                    <div class="row">
                        <div class="col-md-12">
                             <h3 class="title-3 m-b-30">Event requests</h3>
                            <div class="table-data__tool">
                                <div class="table-data__tool-left">
                                    
                                </div>
                                <div class="table-data__tool-right">
                                    
            
                                </div>
                            </div>
                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                        <tr>
                                            <th> </th>
                                            <th>event Name</th>
                                            <th>event Type</th>
                                            <th>description</th>
                                            <th>date</th>
                                          
                                            <th></th>
                                        </tr>


                                    </thead>
                                    <tbody>
                                      {% for request in requests%}
                                       
                                        <tr class="tr-shadow">
                                            <td style="margin-bottom: 200px">
                                             {% if request.req_type == 2 %}
                                                 {% for event in events %}
                                                 {% if event.id == request.event.id%}
                                                <label class="au-checkbox">
                                                  <button type="submit"  id="view" name="btnAcceptEvent" class="btn btn-success" style="margin-left:0px;background-color:#FF5733; font-size: 8px; margin-left: -35%">approve</button> 
                                                  <button type="submit"  id="view" name="btnDeclineEvent" class="btn btn-success" style="margin-left:0px;background-color:#FF5733;font-size: 10px; margin-top: -90%; margin-left: 40%">decline</button> 
                                                   
                                                </label>
                                                
                                            </td>
                                           
                                            <td> {{event.name}} oten</td>
                                            <td> {{event.etype}} oten</td>
                                             <td> {{event.description}} oten</td>
                                             <td> {{event.date_start}} oten</td>
                                            {% endif %}
                                             {% endfor%}
                                            }
                                            {% endif %}
                                           
                                               
                                            
                                        </tr>
                                        {% endfor %}
                                       
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END DATA TABLE-->
        </div>
 <div style="height: 100px"></div>
    </div>


    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js %'}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/popper.min.js ' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js ' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'vendor/slick/slick.min.js ' %}">
    </script>
    <script src="{% static 'vendor/wow/wow.min.js ' %}"></script>
    <script src="{% static ' vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static ' vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js ' %}"></script>   
    <script src="{% static ' vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'vendor/circle-progress/circle-progress.min.js ' %}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js ' %}"></script>
    <script src="{% static 'vendor/chartjs/Chart.bundle.min.js ' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'js/main2.js ' %}"></script>

</body>

</html>
<!-- end document-->
{% endblock content %}