<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registration</title>

    {% load static %}
    {% block headerinclude %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link href="{% static 'https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap' %}" rel="stylesheet" /> -->

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} "/>
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %} " />

    {% endblock headerinclude %}
  {% block footerinclude %}
    
  {% endblock footerinclude %}

    
  </head>
  <body>

    {% load static %}
  {% block content %}
  

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/static/images/gameposter.png');"></div>
    <div class="contents order-2 order-md-1">

      <form id = "form1" action = "" method = "POST" autocomplete = "off" enctype="multipart/form-data">
            {% csrf_token %}

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3>Register to <strong>MetroEvents</strong></h3>
            <p class="mb-4">Where FUN never ends!</p>
            <form action="#" method="post">
             <div class="form-group last mb-3 " style="width: 70%; margin-left: -20%">
                <input type="text" name="username" class="form-control" placeholder="Username" id="username" required="True">
              </div>
                <div class="form-group last mb-3 " style="width: 70%; margin-top: -19%; margin-left: 55%">
                <input type="password" name="password" class="form-control" placeholder="Password" id="pword" required="True">
              </div>
             <div class="form-group last mb-3 " style="width: 70%; margin-left: -20%">
                <input type="text"name="firstname" class="form-control" placeholder="Firstname" id="firstName" required="True">
              </div>
               <div class="form-group last mb-3 " style="width: 70%; margin-top: -19%; margin-left: 55%">
                <input type="text" name="lastname" class="form-control" placeholder="Lastname" id="lastName" required="True">
              </div>
              <div class="form-group last mb-3 " style="width: 70%; margin-left: -20%">
                 <input type="number" name="number"class="form-control" placeholder="Mobile number" id="" required="True"> 
                </div>

               <div class="form-group last mb-3 " style="width: 70%; margin-top: -19%; margin-left: 55%">
                  <SELECT  style="width: 100%; height: 50px" name="gender">
                    <OPTION Value="Male">Male</OPTION>
                    <OPTION Value="Female">Female</OPTION>
                  </SELECT>
               </div>

               <div class="form-group last mb-3 " style="width: 70%; margin-left: -20%">
                <input type="text" name="country" class="form-control" placeholder="Country" id="" required="True">
              </div>
             <div class="form-group last mb-3 " style="width: 70%; margin-top: -19%; margin-left: 55%">
                <input type="text" name="province"class="form-control" placeholder="Province" id=""required="True">
              </div>
                 <div class="form-group last mb-3 " style="width: 70%; margin-left: -20%">
                <input type="text" name="city" class="form-control" placeholder="City" id="" required="True">
              </div>
              <div class="form-group last mb-3 " style="width: 70%; margin-top: -19%; margin-left: 55%">
                 <input type="text" name="street" class="form-control" placeholder="Street" id="" required="True">
              </div> 


              <input type="submit" value="Register" class="btn btn-block btn-primary" ">

            
          </div>
        </div>
        </form>
      </div>
    </div>

    
  </div>
    
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>

    {% endblock content %}
  </body>
</html>