
{% block headerinclude %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


{% endblock headerinclude %}

{% block footerinclude %}
 
  

{% endblock footerinclude %}

{% block content %}
    <div class="main">
        <div class="container">
            

                <div class="signup-form" style="padding-right:55px; padding-top: 40px;">
                <form id="form" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}

                <h2>User Registration</h2>

                <div class="inputBox">
                        <label>Username<abbr title="This field is mandatory" aria-label="required"></abbr></label>
                        <input type="text" name="username" class="borderInvalid" placeholder="Username">
                        <br>

                        <label>Password<abbr title="This field is mandatory" aria-label="required"></abbr></label>
                        <input type="text" name="pword" class="borderInvalid" placeholder="Password">
                        <br>

                        <label>First Name<abbr title="This field is mandatory" aria-label="required"></abbr></label>
                        <input type="text" name="firstName" class="borderInvalid" placeholder="First Name">
                        <br>

                        <label>Last Name<abbr title="This field is mandatory" aria-label="required"></abbr></label>
                        <input type="text" name="lastName" class="borderInvalid" placeholder="Last Name">
                        <br>

                        <label>Email<abbr title="This field is mandatory" aria-label="required"></abbr></label>
                        <input type="text" name="email" class="borderInvalid" placeholder="Email">
                        <br>

                        <label>Mobile Number<abbr title="This field is mandatory" aria-label="required"></abbr></label>
                        <input type="text" name="mobileNum" class="borderInvalid" placeholder="Mobile Number">
                        <br>

                        <label>Country<abbr title="This field is mandatory" aria-label="required"></abbr></label>
                        <input type="text" name="country" class="borderInvalid" placeholder="Country">
                        <br>

                        <label>Province<abbr title="This field is mandatory" aria-label="required"></abbr></label>
                        <input type="text" name="province" class="borderInvalid" placeholder="Province">
                        <br>

                        <label>City<abbr title="This field is mandatory" aria-label="required"></abbr></label>
                        <input type="text" name="city" class="borderInvalid" placeholder="City">
                        <br>

                        <label>Street<abbr title="This field is mandatory" aria-label="required"></abbr></label>
                        <input type="text" name="street" class="borderInvalid" placeholder="Street">
                        <br>               
               </div>

                <center>
                   
                    <button type="submit" class="btn btn-primary" style="background-color: #3498DB; color: white; border: none; font-family: 'Montserrat'; font-size: 20px;">Submit</button>
                </center>    
            </form>
                </div>
        
        </div>
    </div>
{% endblock content %}